@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fefefe;
    --foreground: #181818;
    --ember: #cd5700;
    --ember-light: #ff720a;
    --ember-dark: #8f3c00;
}

.dark {
    --background: #0f0f0f;
    --foreground: #e8e8e8;
}

body {
    color: var(--foreground);
    background: var(--background);
}
